<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd
           http://www.springframework.org/schema/jee
           http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
           http://www.springframework.org/schema/tx
           http://www.springframework.org/schema/tx/spring-tx.xsd
           http://www.springframework.org/schema/task
           http://www.springframework.org/schema/task/spring-task-3.0.xsd
           	http://www.springframework.org/schema/jdbc
		    http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd
           ">
    <context:annotation-config/>

    <context:component-scan base-package="ua.kture.ioshchenko.dao"/>
    <context:component-scan base-package="ua.kture.ioshchenko.api"/>
    <context:component-scan base-package="ua.kture.ioshchenko.service"/>
    <context:component-scan base-package="ua.kture.ioshchenko.model"/>


    <!-- connect to database -->
    <!-- <bean id="sessionFactory"
          class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation">
            <value>classpath:hibernate.cfg.xml</value>
        </property>
    </bean> -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="mysql://127.2.121.130:3306/fake"/>
        <property name="username" value="adminW1zQSF6"/>
        <property name="password" value="Qlj-rNRBvLyu"/>
    </bean>

    <!-- <tx:annotation-driven transaction-manager="transactionManager"/>
    <bean id="transactionManager"
          class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean> -->

    <!--<jdbc:initialize-database data-source="dataSource">
        <jdbc:script location="classpath:legacy.sql"/>
    </jdbc:initialize-database>-->

</beans>

